<div class="container">
  <h1 class="mat-display-4">{{title}}</h1>
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
  </canvas>

  <div class="line">
    <h1 class="mat-display-4">Line Chart</h1>
    <p class="mat-display-4">value of Won = 1,Lost = 0, tied = 2, n/r = 3</p>
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
      [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>
  </div>

  <div class="c2">
    <div>
      <div>
        <h1 class="mat-display-4">Bar Chart</h1>
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1" [options]="barChartOptions1"
            [legend]="barChartLegend1" [chartType]="barChartType1" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
      </div>
    </div>
  </div>

  <div class="result">
    <blockquote class="mat-display-4">"Based On the Observations and Analysis,It is Clear that Sachin Tendulkar is the
      Greatest Cricketer of All Time."</blockquote>
  </div>
</div>
