.container {   
    width: 100vw;
    height: 90vh;
    h1 {
        text-align: center;
        font-size: 15vw;
        margin-bottom: 35px;
    }
    p {
        font-size: 5vw;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    canvas {
        width: 98vw !important;
        height: 70vh !important;
        margin: 0 auto;
    }

    .line {
        margin-top: 40px;
    }
}