<!--The content below is only a placeholder and can be replaced.-->

<div class="mat-toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink = "/" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button routerLink = "/analysis" mat-menu-item>
      <mat-icon>trending_up</mat-icon>
      <span>ANALYSIS</span>
    </button>
    <button routerLink = "/conclusion" mat-menu-item>
      <mat-icon>gesture</mat-icon>
      <span>CONCLUSION</span>
    </button>
  </mat-menu>
</div>
<div class="hero">
  
  <h1 class="mat-display-4">
    Sachin Tendulkar<p class="mat-display-4">{{ title }}</p>
  </h1>
</div>

<section>
  <router-outlet></router-outlet>
</section>
