.mat-toolbar {
  position: fixed;
  width: 100%;
  background: black;
  mat-icon {
    color: white;
  }
  box-shadow: 5px 5px 5px 1px rgba(119, 115, 115, 0.829);
}

.hero {
  
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  h1 {
    text-align: center;
    font-size: 20vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2em;

    p {
      margin: 0 auto;
      line-height: 1.2em;
      font-size: 20vmin;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
  }
}

.outlet {
  margin: 20px;
}